@import "tailwindcss";

@theme {
  /* Paleta dorada basada en el banner de Cristian Consalvo */
  --color-gold-400: #ecc94b;
  --color-gold-500: #d4af37; /* Dorado clásico */
  --color-gold-600: #b7952e;
}