# ==========================================
# DEPENDENCIAS (LA REGLA DE ORO)
# ==========================================
**/node_modules
node_modules/

# ==========================================
# ARCHIVOS DE PRODUCCIÓN / COMPILACIÓN
# ==========================================
dist/
dist-ssr/
build/

# ==========================================
# VARIABLES DE ENTORNO (SEGURIDAD)
# ==========================================
.env
.env.local
.env.*.local
*.local

# ==========================================
# BASURA DEL SISTEMA OPERATIVO
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
desktop.ini

# ==========================================
# LOGS Y DEBUGGING
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# CONFIGURACIONES DE EDITORES (VS Code, etc)
# ==========================================
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?